<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApeFree.DataStore" version="2.0.0-alpha1209" targetFramework="net48" />
  <package id="ApeFree.Protocols.Json" version="0.0.1.8-beta1022" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="STTech.CodePlus" version="1.7.2.4" targetFramework="net48" />
</packages>