<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApeFree.ApeDialogs" version="0.10.17-beta0922" targetFramework="net48" />
  <package id="ApeFree.ApeForms.Core" version="0.11.12.1-beta0412" targetFramework="net48" />
  <package id="ApeFree.ApeForms.Forms" version="0.11.12.1-beta0412" targetFramework="net48" />
  <package id="ApeFree.Cake2D" version="0.0.5.2-beta0205" targetFramework="net48" />
  <package id="STTech.CodePlus" version="1.6.5.1" targetFramework="net48" />
</packages>